<div class="container">
    
    <h1>My Page</h1>

    <a href="/post/new">New</a>

    <div class="row">
        <% @posts.each do |post| %>
            <div class ="col-4">
                <a href="posts/<%= post.id %>"> <img src= "<%= post.image.url %>" class="image-fluid"> </a>
            </div>
        <% end %>
    </div>
</div>